body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:white;
}
#top{
 background-color: #ff1a1a;
 font-size: large;
 position: sticky;
 top: 0;
}
.contenu{
 font-size: 18px;
}
#logo{
 float: left;
 overflow: hidden;
}
h1 {
 text-align: center;
  color: black;
  height: 27px;
  padding: 10px;
}
.ulmenu {
 font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#ff1a1a;
  overflow: none;
}

.ulmenu li a {
  float: right;
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #bbb;
  background-color: #ff1a1a;
}

li a:hover {
  background-color:lightgrey;
}
#active {
  background-color: grey;
}
.imagescontenu {
  float: right;
}
* {
  box-sizing: border-box;
 }
aside{
  font-size: 18px;
}
.ulmenu2{
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#ff1a1a;
  overflow: none;
}

.ulmenu2 li a{
  float: right;
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #bbb;
  background-color: grey;
}
